:root {
    --text-title: #2E2F42;
    --page-text: #434455;
    --function-color: #4D5AE5;
    --btn-text: #FFFFFF;
    --page-text-light: #F4F4FD;
}

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: var(--btn-text);
}

h1,
h2,
h3,
p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}

.link {
    text-decoration: none;
}

.list {
    list-style: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

img {
    display: block;
}


/* ======================  HEADER  ======================= */


.logo-header {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--function-color);
    margin-right: 76px;
}


/* =======================  HEADER  ======================== */

.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    align-items: center;
}

.header-navigation {
    display: flex;
    align-items: center;
}

.web-logo-header {
    color: var(--text-title);
}

.header-list {
    display: flex;
    gap: 40px;
}

.header-address-link {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--page-text);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-address-link:focus,
.header-address-link:hover {
    color: #404bbf;
}

.header-address {
    font-style: normal;
    margin-left: auto;
}


.header-link-item {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-title);
    padding: 24px 0;
    display: flex;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.studio-link-header {
    color: #404bbf;
}

.studio-link-header::after {
    content: "";
    background: #404BBF;
    border-radius: 2px;
    width: 100%;
    height: 4px;
    position: absolute;
    left: 0;
    bottom: -1px;
}

.portfolio-header {
    color: #404bbf;
}

.portfolio-header::after {
    content: "";
    background: #404BBF;
    border-radius: 2px;
    width: 100%;
    height: 4px;
    position: absolute;
    left: 0;
    bottom: -1px;
}

.header-link-item:hover,
.header-link-item:focus {
    color: #404bbf;
}

/* =========================  HERO  =========================== */


.hero-section {
    background-color: var(--text-title);
    max-height: 600px;
    max-width: 1440px;
    padding: 188px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0 auto;
}


.hero-text {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--btn-text);
    max-width: 496px;
    margin-left: auto;
    margin-right: auto;
}

.btn-hero {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--btn-text);
    background-color: var(--function-color);
    cursor: pointer;
    padding: 16px 32px;
    border-radius: 4px;
    border: none;
    display: block;
    margin-top: 48px;
    margin-left: auto;
    margin-right: auto;
    min-width: 169px;
    height: 56px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-hero:hover,
.btn-hero:focus {
    background-color: #404bbf;
}

/*  ============================ MAIN ==========================  */

.adv-section {
    padding: 120px 0;
}

.adv-list {
    display: flex;
    margin-right: auto;
    gap: 24px;
}

.adv-list-item {
    width: calc((100% - 72px) / 4);
}

.icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    margin-bottom: 8px;
}

.section-team {
    background-color: #F4F4FD;
    padding: 120px 0;
}

.list-item {
    background-color: #FFFFFF;
}

.text-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--text-title);
    margin-bottom: 8px;
}

.text-portfolio {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--page-text);
}

.text-description {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--page-text);
}

.text-description-portfolio {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--page-text);
    margin-bottom: 8px;
}

.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: var(--text-title);
    margin-bottom: 72px;
}

.do-section {
    padding-bottom: 120px;
}

.do-list {
    display: flex;
    gap: 24px;
}

.do-list-item {
    width: calc((100% - 48px) / 3);
}

.team-list {
    display: flex;
    gap: 24px;
}

.team-list-item {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
    width: calc((100% - 72px) / 4);
}

.worker {
    padding: 32px 16px;
    text-align: center;
}

.team-soc-list {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.media-icon {
    fill: #f4f4fd;
}

.team-soc-item {
    width: 40px;
    height: 40px;
}

.team-soc-link {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #4D5AE5;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-soc-link:hover,
.team-soc-link:focus {
    background-color: #404bbf;
}

.media-icon {
    fill: #f4f4fd;
}

.btn-text-portfolio {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    color: var(--function-color);
    background-color: var(--page-text-light);
    padding: 12px 24px;
    border: 1px solid #E7E9FC;
    border-radius: 4px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-text-portfolio:hover,
.btn-text-portfolio:focus {
    color: var(--btn-text);
    background-color: #404bbf;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    border: 1px solid transparent;
}

.btn-portfolio {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 24px;
    border-radius: 4px;
    margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 24px;
    padding-left: 0;
    padding-right: 0;
    row-gap: 48px;
}

.portfolio-list-item {
    width: calc((100% - 48px) / 3);
}

.portfolio-overlay-wrapper {
    position: relative;
    overflow: hidden;
}

.portfolio-list-item:hover .portfolio-text-overlay {
    transform: translateY(0);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-text-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    background: #4D5AE5;
    mix-blend-mode: normal;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    padding: 40px 32px;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-link {
    display: block;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-link:hover,
.porflolio-link:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-link:hover .portfolio-text-overlay,
.portfolio-link:focus .portfolio-text-overlay {
    transform: translateY(0%);
}

.portfolio-section {
    padding: 96px 0 120px;
}

.app-container {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

/* ======================  CUSTOMERS ======================== */

.customers-section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.customers-list {
    display: flex;
    gap: 24px;
}

.customers-list-item {
    width: calc((100% - 120px) / 6);
    height: 88px;
}

.customers-link {
    width: 100%;
    height: 100%;
    border: 1px solid #8E8F99;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #8E8F99;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-link:hover,
.customers-link:focus {
    border-color: #404bbf;
    color: #404bbf;
}

.clients {
    width: 104px;
    height: 56px;
    fill: currentColor;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients:hover,
.clients:focus {
    fill: #404bbf;
}

/* ========================= FOOTER ========================= */

.footer-section {
    background-color: var(--text-title);
    padding: 100px 0;
}

.logo-footer {
    display: inline-block;
    margin-bottom: 16px;
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--function-color);
}

.web-logo-footer {
    color: var(--page-text-light);
}

.text-description-footer {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--page-text-light);
    max-width: 300px;
}

.footer-soc-link {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #4D5AE5;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-soc-link:hover,
.footer-soc-link:focus {
    background-color: #31d0aa;
}

.footer-media-item {
    width: 40px;
    height: 40px;
}

.flex-container {
    display: flex;
    align-items: baseline;
}

.logo-text-footer {
    margin-right: 120px;
}

.footer-list-media {
    display: flex;
    gap: 16px;
}

.form-footer {
    margin-left: 80px;
}

.text-media-footer {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    font-weight: 500;
    margin-bottom: 16px;
}

.form-subscribe {
    display: flex;
    gap: 24px;
}

.backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
    transform: translate(50%, 50%) scale(0);
}

.modal {
    position: absolute;
    width: 408px;
    min-height: 584px;
    left: 50%;
    top: 50%;
    background: #FCFCFC;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 32px;
}

.close-modal-btn {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    padding: 0;
    border-radius: 50%;
    background: #E7E9FC;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-modal-btn:hover,
.close-modal-btn:focus {
    background-color: #404BBF;
    fill: #FFFFFF;
    border: none;
}

.icon-close-modal {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.email-input {
    box-sizing: border-box;
    background-color: transparent;
    outline: transparent;
    border: 1px solid #FFFFFF;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    padding-left: 16px;
    width: 264px;
    height: 40px;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
}

.email-input::placeholder {
    color: var(--btn-text);
}

.btn-subscribe {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 165px;
    height: 40px;
    background-color: #4D5AE5;
    border-radius: 4px;
    border: none;
    letter-spacing: 0.04em;
    position: relative;
    font-family: "Roboto" sans-serif;
    font-size: 16px;
    font-weight: 500; 
    letter-spacing: 0.04em;
    line-height: 1.5;
    color: #ffffff;
    cursor: pointer;
    padding-right: 24px;
    padding-left: 24px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-send {
   margin-left: 16px;
}

.modal {
    padding: 72px 24px 24px 24px;
}

.modal-form-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 16px;
}

.modal-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    outline: transparent;
    background-color: transparent;
    padding-left: 38px;
}

.modal-input:focus {
    border-color: #4D5AE5;
}

.modal-input:focus+.modal-icon {
    fill: #4D5AE5;
}

.modal-input-checkbox {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    color: #2E2F4266;
    margin-right: 8px;
}

.btn-form {
    display: block;
    align-items: center;
    justify-content: center;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    left: 635px;
    top: 584px;
    font-family: "Roboto" sans-serif;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background: #4D5AE5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    color: #ffffff;
    margin-left: auto;
    margin-right: auto;
    margin-top: 24px;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-form:hover,
.btn-form:focus {
    background-color: #404bbf;
}

.btn-subscribe:hover,
.btn-subscribe:focus {
    background-color: #404bbf;
}

.input-label {
    display: block;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8E8F99;
    margin-bottom: 4px;
}

.input-label-check {
    align-items: center;
    font-size: 12px;
    letter-spacing: 0.04em;
    color: #8E8F99;
    line-height: 1.17;
}

.input-content-check {
    margin-bottom: 24px;
}

.privacy-span {
    display: inline-flex;
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    align-items: center;
    justify-content: center;
    fill: transparent;
    margin-right: 8px;
    cursor: pointer;
}

.input-wrap {
    position: relative;
    margin-top: 4px;
}

.modal-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: #2E2F42;
}

.textarea-input {
    display: block;
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    background-color: transparent;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea-input:focus {
    border-color: #4D5AE5;
}

.input-content {
    position: relative;
    margin-bottom: 8px;
}

.input-content-comment {
    margin-bottom: 16px;
}

.modal-input-checkbox:checked+.input-label-check span {
    background-color: #404BBF;
    border: none;
    fill: #F4F4FD;
}

.link-policy {
    color: #4D5AE5;
    margin-left: 6px;
}